.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0px;
    height: 65px;
    width: 100%;
    background-color: #282828;
    padding: 30px;
}

.footer__albumLogo{
    height: 60px;
    width: 60px;
    margin-right: 20px;
    object-fit: contain;
}

.footer__left {
    flex: 0.3;
    display: flex;
    align-items: center;
    color: white;
    width: 300px;
}
.footer__aqua {
    color: aqua;
}
.footer__songInfo {
    margin-bottom: 5px;

}
.footer__songInfo > p {
    font-size: 12px;
}

.footer__center {
    flex: 0.4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 450px;
}

.footer__right * .MuiSlider-root {
    color: aqua;
}

.footer__icon:hover,
.footer__aqua:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}

.footer__right {
    flex: 0.3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}