.loginForm {
    background-color: white;
    width: 100%;
    text-align: center;
    height: 80vh;
}

.button {
    background-color: aqua !important;
}

.link_sign_up {
    text-decoration: none;
    color: blue;
}

.alert__title {
    position: relative;
    color: red;
}

.password__title {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
}

/* .password__eye {
    position: absolute;
    top: 53%;
    left: 85%;
} */