.App {
  min-height: 100%;
  /* background-image: linear-gradient(to right top, #8b001e, #69091f, #480e1c, #270d14, #000000); */
  /* background-image: linear-gradient(to left bottom, #051937, #35214e, #662356, #94264f, #b53a3a); */
}
.loading {
  display: block;
  position: fixed;
  margin-left: 47%;
  margin-right: 45%;
  margin-top: 25%;
}

#light {
  background-color: #171010;
}

#dark {
  background-color: dimgray;
}