.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #171010;
}
.loading {
  display: block;
  position: fixed;
  margin-left: 47%;
  margin-right: 45%;
  margin-top: 25%;
}

#light {
  background-color: #171010;
}

#dark {
  background-color: dimgray;
}