@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Raleway:wght@100;200;400;600;700&display=swap');

body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}
